@import "../../index.scss";
.widget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  //   -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  border-radius: 10px;
  height: 100px;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    .percentage {
      display: flex;
      align-items: center;
      font-size: 14px;
      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
    }
    .icon {
      font-size: 25px;
      padding: 5px;
      //   background-color: var(--clr-main);
      border-radius: 5px;
      align-self: flex-end;
    }
  }
  .title {
    font-weight: bold;
    font-size: 14px;
    color: var(--clr-light-grey);
  }
  .counter {
    font-size: 28px;
    font-weight: 300;
  }
  .link {
    width: max-content;
    font-size: 12px;
    border-bottom: 1px solid var(--clr-grey);
  }
}
